{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow border-primary">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">{% if form.instance.pk %}<i class="bi bi-pencil-square"></i> Editar Categoría{% else %}<i class="bi bi-plus-circle"></i> Agregar Categoría{% endif %}</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg"><i class="bi bi-check-circle"></i> Guardar</button>
                        <a href="{% url 'categoria_list' %}" class="btn btn-secondary btn-lg"><i class="bi bi-x-circle"></i> Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 